<p id="notice"><%= notice %></p>

<h3> Products from category: <%= @category.name %></h3>

<div class="container-fluid">
  <div class="row">
   <% Product.where(category_id: @category.id).each do |product| %>
      <%= render(partial: "shared/product", object: product) %> 
  
  <% end %>
 </div>
</div>