<div class="col-sm-4">
<h3>About Us:</h3><br>

<p>Prodigy Toys provides the high quality educational toys loved by children. They help both parents and children to create an engaging learning experiences that are matching children's individual needs.</p><br>

<p>Toys available in our store make all learning fun! Our products help to build the foundational skills through active exploraton.</p><br>
</div>