<h3>Contact Us</h3>

<p>If you have any questions about orders, please call our representative: </p>
<h3>(888)888-888</h3>
<br>
<address>
  <strong>Prodigy Toys</strong><br>
  1234 Tesla Ave, Suite 789<br>
  Brooklyn, NY 11210<br> 
</address>

<strong>email: </strong>customerservice@prodigytoys.com